*{
  padding: 0;
  margin: 0;
}

body {
  /* background: rgb(64,64,64);
background: linear-gradient(298deg, rgba(64,64,64,1) 0%, rgba(255,255,255,1) 100%);
background-size: 100vw 100vh; */

background: linear-gradient(0.25turn,  rgba(255,255,255,1), rgba(64,64,64,1));
  /* background: linear-gradient(120deg, rgb(255, 255, 255) 100%, rgba(119,36,50,1) 0%);
  background-size: 100vw 100vh; */
}

.box{
  background: red;
  height: 500px;
  width: 500px;
}

.text-5{
  color: #FE56FF;
}


.text-1{
  color: rgb(169, 178, 177);
}

.text-2{
  color: rgb(242, 223, 116);
}

.text-3{
  color: rgb(0, 65, 101);
}

.text-4{
  color: rgb(119,36,50);
}

.bg-1{
  /* background : rgb(169, 178, 177); */
  background: linear-gradient(120deg, rgba(169, 178, 177, 1) 100%, rgba(119,36,50,1) 100%);
}

.bg-2{
  background: rgb(242, 223, 116);
  background: linear-gradient(120deg, rgba(242, 223, 116, 1) 100%, rgba(119,36,50,1) 100%);
}

.bg-3{
  background: rgb(0, 65, 101);
  background: linear-gradient(120deg, rgba(0, 65, 101, 1) 100%, rgba(119,36,50,1) 100%);
}

.bg-4{
  background: rgb(119,36,50);
  background: linear-gradient(120deg, rgba(119,36,50, 1) 100%, rgba(119,36,50,1) 100%);
}

.bg-5{
  background: rgb(119,36,50);
  background: linear-gradient(120deg, rgba(220,0,254, 1) 20%, rgba(0,192,249,1) 100%);
}

.bg-6{
  
  background: #c4c4c4;
  background: linear-gradient(120deg, #c4c4c4 20%, #c4c4c4 100%);
}

.bg-7{
  background: #f2f2f2;
  background: linear-gradient(120deg, #f2f2f2 20%, #f2f2f2 100%);
}
