.image{
    height: 20vh;
    max-width: 200px;
    border-radius: 5px;
}

.data-field{
    border-radius: 5px;
}

.Modal{
    position: fixed;
    width: 60%;
    top: 50%;
    left: 50%;
    border: solid rgb(242, 223, 116);
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.75);
    padding: 25px;
    z-index: 1000;
}

.Modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
}

.prof-input{
    min-width: 150px;
    
}