/* .landing-hero{
    
} */
.hero{
    background: transparent;
}

.hero-half{
    border: solid aqua;
}

.image{
    overflow: hidden;
}

.hero-image{
    position: relative;
    top: 100px;
    height: 200px;
    margin-left: -300px;
}

.appbox{
    height: 150px;
}

.singleapp{
    height: 100%;
    color: #9D0BFA;
    background: transparent;
    /* box-shadow: 0 4px 8px 0 rgba(225, 225, 225, 0.2), 0 6px 20px 0 rgba(225, 225, 225, 0.19); */
    transition: all .5s ease-in-out;
    border: none;
    border-radius: 10px;
}

.singleapp:hover{
    transform: scale(1.03);
    cursor: pointer;
    color: black;
}

.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    text-decoration: none;
}

.testing{
    border-radius: 5px;
}





.mainbg{
    height: 100vh;
    background-color: transparent;
}

/* .hero-main{
    border: solid black;
} */

/* .hero-col{
    height: 300px;
} */

.hero-email{
    
    /* background-size: cover; */
    background-color: #f2f2f2;
    border-radius: 10px;
    min-height: 300px;
    display: flex;
    align-items: center;

}

.hero-email-box{
    max-width: 500px;
}

.hero-voting{
    min-height: 270px;
    
    background-color: #f2f2f2;
    border-radius: 10px;
    position: relative;
    bottom: 0;
    overflow: hidden;
}

.hero-voting div{
    width: 100%;
}

.fb-page{
    width: 100%;
}



.heading{
    height: 40px;
}

/* .single-app-box{
    border: solid gray;
} */

.single-app{
    height: 300px;
    /* border: solid gray;
    border-radius: 10px; */
    position: relative;
}

.border{
    border: solid black;
}

.apps{
    background-color: #f2f2f2;
    border-radius: 10px;
}

.single-app-image{
    position: relative;
    height: 200px;
    background-color: black;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.single-app-image img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    /* position: absolute;
    top: -50px; */
    
}

.single-app-icon{
    position: absolute;
    width: 50px;
    top: 175px;
    left: 40%;
    height: 50px;
    background-color: white;
    z-index: 1000;
    border: solid #772432;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-icon{
color: #772432;
font-size: 35px;

}

.single-app-name{
    height: 100px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ribbon{
    position: absolute;
    background-color: #772432;
    top: -5px;
    right: 10px;
    z-index: 1000;
    height: 55px;
    width: 37px;
    border-radius: 0 0 10px 10px ;
}

.ribbon-icon{
height: 50px;
width: 30px;
color: gold;


}